<ion-header>
  <ion-navbar color="primary" >
    <ion-title>Add Movie</ion-title>
    <ion-buttons end padding-right >
        <button ion-button outline  (click)="checkData()">Save</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-card class="mainCard" >
  <ion-card-content>

  <ion-item >
    <ion-card item-start class="bannerImgS" *ngIf="bannerLinkS" >
      <img [src]="bannerLinkS" />
    </ion-card>
    <ion-card item-end class="bannerImgL" *ngIf="bannerLinkL" >
      <img [src]="bannerLinkL" />
    </ion-card>
  </ion-item>  
  <ion-item >
    <ion-label floating>Movie Name</ion-label>
    <ion-input type="text" (keyup.enter)="checkData()" [(ngModel)]="name" autofocus ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Banner Link Small</ion-label>
    <ion-input type="text" (keyup.enter)="checkData()" [(ngModel)]="bannerLinkS"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Banner Link Large</ion-label>
    <ion-input type="text" (keyup.enter)="checkData()" [(ngModel)]="bannerLinkL"></ion-input>
  </ion-item>

  <ion-item >
    <ion-label floating>Duration</ion-label>
    <ion-input type="number" (keyup.enter)="checkData()" [(ngModel)]="duration"></ion-input>
  </ion-item>

  <ion-item >
    <ion-label floating>Year</ion-label>
    <ion-datetime displayFormat="YYYY" (keyup.enter)="checkData()" [(ngModel)]="year"></ion-datetime>
  </ion-item>

  <ion-item >
    <ion-label floating>Description</ion-label>
    <ion-textarea (keyup.enter)="checkData()" [(ngModel)]="description"></ion-textarea>
  </ion-item>

  <ion-item >
      <ion-label floating>Genre</ion-label>
      <ion-select (keyup.enter)="checkData()" [(ngModel)]="genre">
        <ion-option *ngFor="let g of genres" [value]="g.Name">{{g.Name}} </ion-option>
      </ion-select>
    </ion-item>
  
    <ion-item >
      <ion-label floating>Genre</ion-label>
      <ion-select (keyup.enter)="checkData()" [(ngModel)]="lang">
        <ion-option *ngFor="let l of languages" [value]="l.Name">{{l.Name}} </ion-option>
      </ion-select>
    </ion-item>
  

  <ion-item >
    <ion-label floating>Director</ion-label>
    <ion-input type="text" (keyup.enter)="checkData()" [(ngModel)]="director" ></ion-input>
  </ion-item>

  <ion-item >
    <ion-label floating>Starring 1</ion-label>
    <ion-input type="text" (keyup.enter)="checkData()" [(ngModel)]="s1"></ion-input>
  </ion-item>

  <ion-item >
    <ion-label floating>Starring 2</ion-label>
    <ion-input type="text" (keyup.enter)="checkData()" [(ngModel)]="s2"></ion-input>
  </ion-item>

  <ion-item >
    <ion-label floating>Starring 3</ion-label>
    <ion-input type="text" (keyup.enter)="checkData()" [(ngModel)]="s3"></ion-input>
  </ion-item>

  <ion-item  clas>
    <ion-label floating>Supporting 1</ion-label>
    <ion-input type="text" (keyup.enter)="checkData()" [(ngModel)]="sup1"></ion-input>
  </ion-item>

  <ion-item >
    <ion-label floating>Supporting 2</ion-label>
    <ion-input type="text" (keyup.enter)="checkData()" [(ngModel)]="sup2"></ion-input>
  </ion-item>

</ion-card-content>
</ion-card>
</ion-content>
